<a href="https://colab.research.google.com/github/nrjcs/DL_ML/blob/master/PythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

# **Variables, Datatypes**

In [0]:
x= 19
y=23.567
z=" We are student of IITP"
w=2+5j
print x
print type(x)
print type(y)
print type(z)
print type(w)
print int(y)
print type(int(y))

19
<type 'int'>
<type 'float'>
<type 'str'>
<type 'complex'>
23
<type 'int'>

#**Data Structures**

*  The builtins data structures are: lists, tuples, dictionaries, strings, sets.

# **List**

In [0]:
my_list = []
my_list = [1, 4, 7]
my_list = [1, "Hello", 3.4]
print my_list

[1, 'Hello', 3.4]

**How to access one elements from a list?**

In [0]:
print my_list[1],my_list[2]

print my_list[-1]

Hello 3.4
3.4

**How to slice lists in Python?**

In [0]:
my_list = ['p','r','o','g','r','a','m']

print(my_list[2:5])

print(my_list[:-5])

print(my_list[5:])

print(my_list[:])

['o', 'g', 'r']
['p', 'r']
['a', 'm']
['p', 'r', 'o', 'g', 'r', 'a', 'm']

**How to change or add elements to a list?**

In [0]:
my_list[0]=1
print(my_list)

[1, 'r', 'o', 'g', 'r', 'a', 'm']

We can add one item to a list using append() method or add several items using extend() method.

In [0]:

my_list.append(2)
print(my_list)
my_list.extend([3,4])
print(my_list)
my_list.insert(1,3)
print(my_list)

['p', 'r', 'o', 'g', 'r', 'a', 'm', 2]
['p', 'r', 'o', 'g', 'r', 'a', 'm', 2, 3, 4]
['p', 3, 'r', 'o', 'g', 'r', 'a', 'm', 2, 3, 4]

**Delete**

In [0]:
my_list = ['p','r','o','b','l','e','m']

del my_list[2]
    
print(my_list)

del my_list[1:5]  

print(my_list)

x=my_list.pop(1)

del my_list

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

#**Tuple**

In [0]:
my_tuple = ()
print(my_tuple) 
my_tuple = (1, 2, 3)
print(my_tuple)  
my_tuple = (1, "Hello", 3.4)
print(my_tuple)
#accessing is same as list using indexing, negative indexing and slicing is also same
print(my_tuple[0])

#tuples are immutable i.e. we can not change the elements of a tuple
#my_tuple[0] = 22

#Creating a tuple with one element is a bit tricky.
t= ("Hello")
t= ("Hello",)
t= "Hello",
print(type(t))

# But deleting a tuple entirely is possible using the keyword del.

#del my_tuple[0]
del my_tuple

()
(1, 2, 3)
(1, 'Hello', 3.4)
1
<type 'tuple'>

#**String**

**sequence of characters**

In [2]:
my_string = 'Hello'
print(my_string)

print 'str[0] = ', my_string[0]
print 'str[-1] = ', my_string[-1]

#slicing 2nd to 5th character
print 'str[1:4] = ', my_string[1:4]

#Strings are immutable.
#my_string[1]= 'x'

Hello
str[0] =  H
str[-1] =  o
str[1:4] =  ell

#**Set**

*  **A set is an unordered and unindexed collection of elements with no duplicate elements.**

In [0]:
my_set = {1, 2, 3}

# add an element
my_set.add(5)
# add multiple elements
my_set.update([2,3,4])
print(my_set)


my_set.discard(6)
#my_set.remove(6)

#Creating an empty set is a bit tricky, use the set() function without any argument.
a = set()
a.add(12)
a.add(11)
print(a)


# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)
print(A.union(B))
print(A & B)
print(A.intersection(B))

set([1, 2, 3, 4, 5])
set([11, 12])
set([1, 2, 3, 4, 5, 6, 7, 8])
set([1, 2, 3, 4, 5, 6, 7, 8])
set([4, 5])
set([4, 5])

#**Dictionary**

*  **A dictionary is a set of unordered key, value pairs. In a dictionary, the keys must be unique and they are stored in an unordered manner.**

In [0]:
my_dict={}
my_dict = {'name':'Jack', 'age': 26}
print my_dict
#accessing
print my_dict['name']
#Dictionary are mutable. We can add new items or change the value of existing items using assignment operator.
my_dict['age'] = 27
print my_dict

{'age': 26, 'name': 'Jack'}
Jack
{'age': 27, 'name': 'Jack'}

# **Join**, **Split**, **Replace**

In [0]:
a = "this is a string"
result = a.split(" ")
print(result)

a = "-".join(result)
print(a)

b='Hello##How##are##you##?'
result=' '.join(b.split('##'))
print(result)

old = 'I like Football' 
new = old.replace('like', 'love')
print(new)

['this', 'is', 'a', 'string']
this-is-a-string
Hello How are you ?
I love Football

#**Python Flow Control** 

Python for Loop

In [0]:
a=[119,23,45,77,13,55]

for i in a:
    print i

print "--------------"
for j in range(len(a)):
      if a[j]>50:
        print a[j]
      else:
          continue

119
23
45
77
13
55
--------------
119
77
55


# **Functions**

In [0]:
def find_odd(a):
    if (a%2)!=0:
        print "Hey this is odd!!"
        return a
        
print(find_odd(13))

Hey this is odd!!
13

#**Arbitrary Arguments, *args**

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [4]:
def best_game(*games):
  print("The most sensational game is " + games[2])

best_game("Cricket", "Hockey", "Football")

The most sensational game is Football

#**Keyword Arguments**

You can also send arguments with the key = value syntax.

In [0]:
def best_game(sport3, sport2, sport1):
  print("The most sensational game is " + sport3)

best_game(sport1="Cricket", sport2="Hockey", sport3="Football")

The most sensational game is Football

#**Arbitrary Keyword Arguments, **kwargs**

*  If you do not know how many keyword arguments that will be passed into your function, add two asterix: ** before the parameter name in the function definition.

*  This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [0]:
def my_function(**information):
  print("The recent topic is " + information["Topic"])

my_function(politician = "Modi", Topic = "CAA")

The recent topic is CAA

#pip install tweepy

#pip install pandas

#pip install PyDictionary